body{
text-align:center;
font-family:arial;
background:#ffdde4;
}

img{
width:200px;
margin:10px;
border-radius:15px;
}

textarea{
width:80%;
height:100px;
border-radius:10px;
}

button{
background:red;
color:white;
padding:10px 25px;
border:none;
border-radius:20px;
}
